services:
  mongodb:
    image: mongo:7
    container_name: vibestream-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

  redis:
    image: redis:7-alpine
    container_name: vibestream-redis
    ports:
      - "6379:6379"

volumes:
  mongodb_data:
